force-app/main/default/flows/LA_Approve_Reject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_Email_Logistics_Team</name>
        <label>Copy 1 of Email Logistics Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Check_Logistics_Email_Sent_Box</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>aramynarinaram@gmail.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>aramy@dkloudconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>APPROVED: Dispatch Advice Ready - {!Get_LA_Header.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Hi Logistics Team,&lt;/p&gt;&lt;p&gt;  Saji has fully approved this Stock Transfer. Please see the attached Dispatch Advice to arrange the trucks.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>var_ST_GeneratedPDF_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Email_Saji_for_Approval</name>
        <label>Copy 1 of Email Saji for Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Finance_User.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>aramy@dkloudconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Loading Advice Pending Finance Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please review and approve&lt;/strong&gt;. Link: {!form_RecordURL}&lt;/p&gt;&lt;p&gt;Comments: {!Comments}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>col_SajiAttachments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Generate_Saji_PDF</name>
        <label>Copy 1 of Generate Saji PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoadingAdvicePDFGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Get_LPOs_for_Saji</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>loadingAdviceIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoadingAdvicePDFGenerator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Diversion_email</name>
        <label>Diversion email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Logistics_Email_Sent_Box</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>fx_LogisticsEmailRouting</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>DIVERSION NOTE FOR {!Get_LA_Header.DivertedFrom_DKL__r.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!emailBody_DiversionNote}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Email_Invoicing_Team</name>
        <label>Email Invoicing Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Empty_the_Envelope</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>hrishikesh.nerlekar@greenvillelng.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>aramy@dkloudconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Approved Loading Advice for Invoicing: {!Get_LA_Header.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!tt_InvoicingEmailBody}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>col_InvoicingAttachments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Email_Logistics_Advance_Notice</name>
        <label>Email Logistics Advance Notice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Generate_Saji_PDF</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>aramynarinaram@gmail.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>aramy@dkloudconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>ADVANCE NOTICE: Prep Truck - {!Get_LA_Header.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;A new Loading Advice has been reviewed by Joy. Please review the attached advance plan to begin prepping the trucks. WARNING: DO NOT DISPATCH UNTIL FINAL FINANCE APPROVAL IS RECEIVED.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>col_LogisticsAttachments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Email_Logistics_Team</name>
        <label>Email Logistics Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Logistics_Email_Sent_Box</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>aramynarinaram@gmail.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>aramy@dkloudconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>APPROVED: Dispatch Advice Ready - {!Get_LA_Header.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Hi Logistics Team,&lt;/p&gt;&lt;p&gt;  Finance has fully approved this Loading Advice. Please see the attached Dispatch Advice to arrange the trucks.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>col_finalLogisticsAttatchements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Email_Saji_for_Approval</name>
        <label>Email Saji for Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>colApproverEmails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>aramy@dkloudconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Loading Advice Pending Saji Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Hi Saji,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please review and approve&lt;/strong&gt;. Link: {!form_RecordURL}&lt;/p&gt;&lt;p&gt;Comments: {!Comments}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>col_SajiAttachments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Email_Sales_Rep_Rejection</name>
        <label>Email Sales Rep Rejection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Rejection_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_LA_Header.CreatedBy.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>Get_LA_Header.X1ApprovedBy_DKL__r.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>Get_LA_Header.X2ndApprovedBy_DKL__r.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>Get_LA_Header.FinanceApprovedBy_DKL__r.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>aramy@dkloudconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Loading Advice Rejected: {!Get_LA_Header.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;Your Loading Advice &lt;strong&gt;{!Get_LA_Header.Name}&lt;/strong&gt; has been rejected. Approver Comments: {!Comments}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Generate_Advance_Plan_PDF</name>
        <label>Generate Advance Plan PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PendingLogisticsPDFGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Pending_PDF_to_Envelope</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>loadingAdviceIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PendingLogisticsPDFGenerator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Dispatch_PDF_for_Logistics</name>
        <label>Generate Dispatch PDF for Logistics</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DispatchPDFGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Dispatch_PDF_to_Envelope</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>loadingAdviceIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DispatchPDFGenerator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Invoicing_PDF</name>
        <label>Generate Invoicing PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoadingAdvicePDFGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Invoicing_PDF_to_Envelope</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>loadingAdviceIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoadingAdvicePDFGenerator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Saji_PDF</name>
        <label>Generate Saji PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoadingAdvicePDFGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_LPOs_for_Saji</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>loadingAdviceIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoadingAdvicePDFGenerator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Stock_Transfer_PDF_Action_1</name>
        <label>Generate Stock Transfer PDF Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GenerateStockTransferPDF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_ST_PDF_to_Envelope</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>loadingAdviceIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateStockTransferPDF</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Finance_Bell_Alert</name>
        <label>Send Finance Bell Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Copy_1_of_Generate_Saji_PDF</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Finance_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>colFinanceRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Finance Approval Needed: {!Get_LA_Header.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Loading Advice {!Get_LA_Header.Name} is awaiting Final Finance approval.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Level_2_Bell_Alert</name>
        <label>Send Level 2 Bell Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Generate_Advance_Plan_PDF</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>colNextApproverId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Needed: {!Get_LA_Header.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Loading Advice {!Get_LA_Header.Name} is awaiting your Level 2 approval.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Dispatch_PDF_to_Envelope</name>
        <label>Add Dispatch PDF to Envelope</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_finalLogisticsAttatchements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Generate_Dispatch_PDF_for_Logistics</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Invoicing_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ID_to_Recipient_Collection</name>
        <label>Add ID to Recipient Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colNextApproverId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Level_2_Assignments.AssigneeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Level_2_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Invoicing_PDF_to_Envelope</name>
        <label>Add Invoicing PDF to Envelope</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_InvoicingAttachments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Generate_Invoicing_PDF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Dispatch_PDF_for_Logistics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Pending_PDF_to_Envelope</name>
        <label>Add Pending PDF to Envelope</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_LogisticsAttachments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Generate_Advance_Plan_PDF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Logistics_Advance_Notice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Saji_PDF_to_Envelope</name>
        <label>Add Saji PDF to Envelope</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_SajiAttachments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_LPOs_for_Saji.col_EmailAttachments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Saji_for_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ST_PDF_to_Envelope</name>
        <label>Add ST PDF to Envelope</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ST_GeneratedPDF_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Generate_Stock_Transfer_PDF_Action_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Email_Logistics_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Email_To_Email_Collection</name>
        <label>Add User Email To Email Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colApproverEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Level_2_User_Records.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Level_2_User_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_and_Set_Finance_Recipient</name>
        <label>Clear and Set Finance Recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colNextApproverId</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colNextApproverId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colFinanceRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Finance_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Finance_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Level_2_Recipient_Collections</name>
        <label>Clear Level 2 Recipient Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colApproverEmails</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colNextApproverId</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Level_2_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Saji_PDF_to_Envelope</name>
        <label>Copy 1 of Add Saji PDF to Envelope</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_SajiAttachments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_LPOs_for_Saji.col_EmailAttachments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_SajiAttachments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Generate_Saji_PDF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Email_Saji_for_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_the_Envelope</name>
        <label>Empty the Envelope</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_InvoicingAttachments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>col_EmptyEnvelope</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_a_Diversion</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Commercial_Or_Stock_Transfer</name>
        <label>Commercial Or Stock Transfer?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Generate_Stock_Transfer_PDF_Action_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stock Transfer</defaultConnectorLabel>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LA_Header.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial_DKL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Invoicing_PDF</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Decision_Stage</name>
        <label>Evaluate Decision &amp; Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Error / Unknown Status</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LA_to_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Joy_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LA_Header.Approval_Status_DKL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending 1st Approver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Level_2_Permission_Set</targetReference>
            </connector>
            <label>Joy Approved</label>
        </rules>
        <rules>
            <name>Saji_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LA_Header.Approval_Status_DKL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending 2nd Approver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Finance_Perm_Set</targetReference>
            </connector>
            <label>Saji Approved</label>
        </rules>
        <rules>
            <name>Finance_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LA_Header.Approval_Status_DKL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending 3rd Approver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LA_to_Fully_Approved</targetReference>
            </connector>
            <label>Finance Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Authorized_Approver</name>
        <label>Is Authorized Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Unauthorized_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Not Authorized</defaultConnectorLabel>
        <rules>
            <name>Yes_Authorized</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.LALevel1ApprovalAccess_DKL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LA_Header.Approval_Status_DKL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending 1st Approver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.LALevel2ApprovalAccess_DKL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LA_Header.Approval_Status_DKL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending 2nd Approver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.LALevel3ApprovalAccess_DKL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LA_Header.Approval_Status_DKL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending 3rd Approver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loading_Advice_Line</targetReference>
            </connector>
            <label>Yes - Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Diversion</name>
        <label>Is this a Diversion?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Email_Logistics_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LA_Header.DiversionReason_DKL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Diversion_email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_Approver</name>
        <label>Who is Approver?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Fresh_Collection_for_Data_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Approvers</defaultConnectorLabel>
        <rules>
            <name>Joy_Approving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.LALevel1ApprovalAccess_DKL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Loading_Advice_Line</targetReference>
            </connector>
            <label>Joy Approving</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DeliveryMode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DeliveryMode_DKL__c</picklistField>
        <picklistObject>Loading_Advice_Line__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentTerm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentTerm_DKL__c</picklistField>
        <picklistObject>Loading_Advice_Line__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>form_RecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_600}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_600})) &amp; &quot;lightning/r/Loading_Advice__c/&quot; &amp; {!recordId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>form_SafeUserID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>fx_LogisticsEmailRouting</name>
        <dataType>String</dataType>
        <expression>&quot;suvid.sathi@gradientbitumen.com, vijay.raghavan@gradientbitumen.com, sakthi.srinivasan@gradientbitumen.com, mandlenkosi.mbulali@gradientbitumen.com, swapnil.pawaskar@gradientbitumen.com&quot; 
+ 
IF( TEXT({!Get_Loading_Advice_Line.PlantLocation_DKL__c}) = &quot;Kaduna&quot;, 
&quot;, kingsley.otujareha@gradientbitumen.com&quot;, 
&quot;&quot; )</expression>
    </formulas>
    <interviewLabel>LA Approve Reject {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>LA Approve Reject</label>
    <loops>
        <name>Loop_Through_Level_2_Assignments</name>
        <label>Loop Through Level 2 Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Saji_Perm_Set_Assignment</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ID_to_Recipient_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users_for_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Level_2_User_Records</name>
        <label>Loop Through Level 2 User Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Users_for_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_Email_To_Email_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_LA_to_Pending_Saji</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Finance_Notification_Type</name>
        <label>Get Finance Notification Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Finance_Bell_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loading_Advice_Approvals</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finance_Perm_Set</name>
        <label>Get Finance Perm Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Finance_Perm_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loading Advice - Finance Approver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finance_Perm_Set_Assignment</name>
        <label>Get Finance Perm Set Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Finance_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Finance_Perm_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finance_User</name>
        <label>Get Finance User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_LA_to_Pending_Finance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Finance_Perm_Set_Assignment.AssigneeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fresh_Collection_for_Data_Table</name>
        <label>Get Fresh Collection for Data Table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_or_Reject_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loading_Advice_Line.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loading_Advice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LA_Header</name>
        <label>Get LA Header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Authorized_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loading_Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Level_2_Permission_Set</name>
        <label>Get Level 2 Permission Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Saji_Perm_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loading Advice - Level 2 Approver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loading_Advice_Line</name>
        <label>Get Loading Advice Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_is_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoadingAdvice_DKL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loading_Advice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Level_2_Bell_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loading_Advice_Approvals</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Saji_Perm_Set_Assignment</name>
        <label>Get Saji Perm Set Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Level_2_Recipient_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Level_2_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_for_Email</name>
        <label>Get Users for Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Level_2_User_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>colNextApproverId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_Logistics_Email_Sent_Box</name>
        <label>Check Logistics Email Sent Box</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LogisticsEmailSent_DKL__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Loading_Advice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Check_Logistics_Email_Sent_Box</name>
        <label>Copy 1 of Check Logistics Email Sent Box</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments_DKL__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DispatchPDFContentDocumentId_DKL__c</field>
            <value>
                <elementReference>Generate_Stock_Transfer_PDF_Action_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LogisticsEmailSent_DKL__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Loading_Advice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LA_to_Fully_Approved</name>
        <label>Update LA to Fully Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Commercial_Or_Stock_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status_DKL__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_DKL__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentApprover_DKL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinanceApprovedBy_DKL__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinanceApprovedOn_DKL__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_DKL__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Loading_Advice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LA_to_Pending_Finance</name>
        <label>Update LA to Pending Finance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_and_Set_Finance_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status_DKL__c</field>
            <value>
                <stringValue>Pending 3rd Approver</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_DKL__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2ndApprovedBy_DKL__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2ndApprovedOn_DKL__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Loading_Advice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LA_to_Pending_Saji</name>
        <label>Update LA to Pending Saji</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status_DKL__c</field>
            <value>
                <stringValue>Pending 2nd Approver</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_DKL__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1ApprovedBy_DKL__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1stApprovedOn_DKL__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Loading_Advice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LA_to_Rejected</name>
        <label>Update LA to Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Sales_Rep_Rejection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status_DKL__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentApprover_DKL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Loading_Advice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loading_Advice_Line</name>
        <label>Update Loading Advice Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fresh_Collection_for_Data_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loading_Advice_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_DKL__c</field>
            <value>
                <elementReference>Customer.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryMode_DKL__c</field>
            <value>
                <elementReference>Delivery_Mode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HeatingPerTruck_DKL__c</field>
            <value>
                <elementReference>Heating_Charge_N_TRK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPO_Number__c</field>
            <value>
                <elementReference>LPO_no</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_DKL__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberofSprayerDays_DKL__c</field>
            <value>
                <elementReference>No_of_Sprayer_Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentStatusText_DKL__c</field>
            <value>
                <elementReference>Payment_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentTerm_DKL__c</field>
            <value>
                <elementReference>Payment_Term</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricePerMT_DKL__c</field>
            <value>
                <elementReference>Price_N_MT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_DKL__c</field>
            <value>
                <elementReference>Product.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityMT_DKL__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SprayerRate_DKL__c</field>
            <value>
                <elementReference>Sprayer_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransportationPerMT_DKL__c</field>
            <value>
                <elementReference>Transport_N_MT</elementReference>
            </value>
        </inputAssignments>
        <object>Loading_Advice_Line__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approve_or_Reject_Screen</name>
        <label>Approve or Reject Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_Decision_Stage</targetReference>
        </connector>
        <fields>
            <name>LoadingNo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Get_LA_Header.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Table_LineItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Loading_Advice_Line__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loading Advice Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Fresh_Collection_for_Data_Table</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CustomerCal_DKL__c&quot;,&quot;guid&quot;:&quot;column-365e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Customer&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Customer Cal&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Location_DKL__c&quot;,&quot;guid&quot;:&quot;column-b656&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Location&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProductCalc_DKL__c&quot;,&quot;guid&quot;:&quot;column-b90b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Product Calc&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;QuantityMT_DKL__c&quot;,&quot;guid&quot;:&quot;column-e0ff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Quantity (MT)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;LPO_Number__c&quot;,&quot;guid&quot;:&quot;column-4b04&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;sortable&quot;:false,&quot;label&quot;:&quot;LPO Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DeliveryMode_DKL__c&quot;,&quot;guid&quot;:&quot;column-cd3b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Delivery Mode&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PricePerMT_DKL__c&quot;,&quot;guid&quot;:&quot;column-bd24&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Price (N/MT)&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;TransportationPerMT_DKL__c&quot;,&quot;guid&quot;:&quot;column-f539&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Transportation (N/MT)&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;ProductSubtotal_DKL__c&quot;,&quot;guid&quot;:&quot;column-5faf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Grand Total&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Product Subtotal&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;HeatingPerTruck_DKL__c&quot;,&quot;guid&quot;:&quot;column-3b14&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Heating Charge (N/Truck)&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;SprayerRate_DKL__c&quot;,&quot;guid&quot;:&quot;column-5396&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:10,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Sprayer Rate (N/MT)&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;NumberofSprayerDays_DKL__c&quot;,&quot;guid&quot;:&quot;column-d4be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:11,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Number of Sprayer Days&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;GrandTotal_DKL__c&quot;,&quot;guid&quot;:&quot;column-5309&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Invoice Value&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:12,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Grand Total (N/MT)&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;PaymentTerm_DKL__c&quot;,&quot;guid&quot;:&quot;column-eab2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:13,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Payment Term&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PaymentStatusText_DKL__c&quot;,&quot;guid&quot;:&quot;column-cc31&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Payment Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:14,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Payment Statuss&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Loading_Advice_Line__c&quot;,&quot;fieldReferences&quot;:[&quot;CustomerCal_DKL__c&quot;,&quot;Location_DKL__c&quot;,&quot;ProductCalc_DKL__c&quot;,&quot;QuantityMT_DKL__c&quot;,&quot;LPO_Number__c&quot;,&quot;DeliveryMode_DKL__c&quot;,&quot;PricePerMT_DKL__c&quot;,&quot;TransportationPerMT_DKL__c&quot;,&quot;ProductSubtotal_DKL__c&quot;,&quot;HeatingPerTruck_DKL__c&quot;,&quot;SprayerRate_DKL__c&quot;,&quot;NumberofSprayerDays_DKL__c&quot;,&quot;GrandTotal_DKL__c&quot;,&quot;PaymentTerm_DKL__c&quot;,&quot;PaymentStatusText_DKL__c&quot;],&quot;elementReference&quot;:&quot;Get_Fresh_Collection_for_Data_Table&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Loading_Advice_Line__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Fresh_Collection_for_Data_Table&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Decision</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Decision</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comments</name>
            <defaultValue>
                <stringValue>{!Get_LA_Header.Comments_DKL__c}</stringValue>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;You must provide a comment when rejecting a Loading Advice.&lt;/p&gt;</errorMessage>
                <formulaExpression>OR({!Decision} = &quot;Approve&quot;, LEN({!Comments}) &gt; 0)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Loading_Advice_Line</name>
        <label>Edit Loading Advice Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Loading_Advice_Line</targetReference>
        </connector>
        <fields>
            <name>Customer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_DKL__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Loading_Advice_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_LA_Header.Account_DKL__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Loading_Advice_Line.Location_DKL__c</elementReference>
            </defaultValue>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Product</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product_DKL__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Loading_Advice_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Loading_Advice_Line.Product_DKL__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Loading_Advice_Line.QuantityMT_DKL__c</elementReference>
            </defaultValue>
            <fieldText>Qty(MT)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LPO_no</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Loading_Advice_Line.LPO_Number__c</elementReference>
            </defaultValue>
            <fieldText>LPO No</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Delivery_Mode</name>
            <choiceReferences>DeliveryMode</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Loading_Advice_Line.DeliveryMode_DKL__c</elementReference>
            </defaultValue>
            <fieldText>Delivery Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Term</name>
            <choiceReferences>PaymentTerm</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Loading_Advice_Line.PaymentTerm_DKL__c</elementReference>
            </defaultValue>
            <fieldText>Payment Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Status</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Loading_Advice_Line.PaymentStatusText_DKL__c</elementReference>
            </defaultValue>
            <fieldText>Payment Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Price_N_MT</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Loading_Advice_Line.PricePerMT_DKL__c</elementReference>
            </defaultValue>
            <fieldText>Price(N/MT)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Transport_N_MT</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Loading_Advice_Line.TransportationPerMT_DKL__c</elementReference>
            </defaultValue>
            <fieldText>Transportation(N/MT)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sprayer_Rate</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Loading_Advice_Line.SprayerRate_DKL__c</elementReference>
            </defaultValue>
            <fieldText>Sprayer Rate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_of_Sprayer_Days</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Loading_Advice_Line.NumberofSprayerDays_DKL__c</elementReference>
            </defaultValue>
            <fieldText>No of Sprayer Days</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Heating_Charge_N_TRK</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Loading_Advice_Line.HeatingPerTruck_DKL__c</elementReference>
            </defaultValue>
            <fieldText>Heating Charge(N/TRK)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rejection_Screen</name>
        <label>Rejection Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 12, 12);&quot;&gt;The Loading Advice has been rejected and relevant teams have been notified.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(47, 234, 14);&quot;&gt;Success! The Loading Advice has been processed and relevant teams have been notified.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unauthorized_Screen</name>
        <label>Unauthorized Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 39, 39);&quot;&gt;Error: You are not the current authorized approver for this Loading Advice.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LA_Header</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Get_LPOs_for_Saji</name>
        <label>Copy 1 of Get LPOs for Saji</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Add_Saji_PDF_to_Envelope</targetReference>
        </connector>
        <flowName>LA_Build_Email_Attachments</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InternalPDF_ID</name>
            <value>
                <elementReference>Copy_1_of_Generate_Saji_PDF</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_LPOs_for_Saji</name>
        <label>Get LPOs for Saji</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Saji_PDF_to_Envelope</targetReference>
        </connector>
        <flowName>LA_Build_Email_Attachments</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InternalPDF_ID</name>
            <value>
                <elementReference>Generate_Saji_PDF</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>emailBody_DiversionNote</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;DIVERSION NOTE FOR {!Get_LA_Header.DivertedFrom_DKL__r.Name}&lt;/p&gt;&lt;p&gt;Date: {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dear Logistics,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A truck diversion has been fully approved by Commercial and Finance. Kindly divert the bitumen truck below loaded for {!Get_LA_Header.DivertedFrom_DKL__r.Account_DKL__r.Name} TO {!Get_LA_Header.Account_DKL__r.Name} - {!Get_Loading_Advice_Line.Location_DKL__c}.&lt;/p&gt;&lt;p&gt;➤ &lt;strong&gt;NEW LOADING REFERENCE: {!Get_LA_Header.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;*** The fully approved dispatch PDF is attached to this email. ***&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Details are as follows:&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;1&quot; style=&quot;width: 100%; border-collapse: collapse; text-align: left; font-family: sans-serif; font-size: 13px;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;th style=&quot;background-color: #0070d2; color: white;&quot;&gt;LOAD DATE&lt;/th&gt;&lt;th style=&quot;background-color: #0070d2; color: white;&quot;&gt;Truck No&lt;/th&gt;&lt;th style=&quot;background-color: #0070d2; color: white;&quot;&gt;Waybill No&lt;/th&gt;&lt;th style=&quot;background-color: #0070d2; color: white;&quot;&gt;NET Qty (MT)&lt;/th&gt;&lt;th style=&quot;background-color: #0070d2; color: white;&quot;&gt;Diversion Company (From)&lt;/th&gt;&lt;th style=&quot;background-color: #0070d2; color: white;&quot;&gt;From Destination&lt;/th&gt;&lt;th style=&quot;background-color: #0070d2; color: white;&quot;&gt;Diversion Company (To)&lt;/th&gt;&lt;th style=&quot;background-color: #0070d2; color: white;&quot;&gt;To Destination&lt;/th&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;{!Get_LA_Header.DivertedFrom_DKL__r.CreatedDate}&lt;/td&gt;&lt;td&gt;{!Get_LA_Header.TruckPlateNo_DKL__c}&lt;/td&gt;&lt;td&gt;{!Get_LA_Header.DivertedFrom_DKL__r.WaybillNumber_DKL__c}&lt;/td&gt;&lt;td&gt;{!Get_Loading_Advice_Line.QuantityMT_DKL__c}&lt;/td&gt;&lt;td&gt;{!Get_LA_Header.DivertedFrom_DKL__r.Account_DKL__r.Name}&lt;/td&gt;&lt;td&gt;See Original LA&lt;/td&gt;&lt;td&gt;{!Get_LA_Header.Account_DKL__r.Name}&lt;/td&gt;&lt;td&gt;{!Get_Loading_Advice_Line.Location_DKL__c}&lt;/td&gt;&lt;/tr&gt;
&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;strong&gt;Reason:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt; {!Get_LA_Header.DiversionReason_DKL__c}&lt;/p&gt;&lt;p&gt;&lt;em&gt;Note: This is an automated diversion note generated from Salesforce.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_InvoicingEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Invoicing Team, The Loading Advice {!Get_LA_Header.Name} has been fully approved. The Loading Advice PDF is attached for your records.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>col_EmptyEnvelope</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_finalLogisticsAttatchements</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_InvoicingAttachments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_LogisticsAttachments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_SajiAttachments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colApproverEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFinanceRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colNextApproverId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ST_GeneratedPDF_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
