force-app/main/default/flows/LA_Build_Email_Attachments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Internal_PDF_to_Collection</name>
        <label>Add Internal PDF to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_EmailAttachments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_InternalPDF_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_the_Final_Collection</name>
        <label>Add to the Final Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_EmailAttachments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_the_Content_Version_The_Email_Ready_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_Latest_Version_of_the_File</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Version_Found</name>
        <label>Version Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_the_Latest_Version_of_the_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Content</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Content_Version_The_Email_Ready_ID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_the_Final_Collection</targetReference>
            </connector>
            <label>Check Content</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LA Build Email Attachments {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>LA Build Email Attachments</label>
    <loops>
        <name>Get_the_Latest_Version_of_the_File</name>
        <label>Get the Latest Version of the File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_the_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Content_Document_Links</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_the_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_the_Lines</name>
        <label>Loop Through the Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_the_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_the_Files_LPOs</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_the_Files_LPOs</name>
        <label>Find the Files (LPOs)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Latest_Version_of_the_File</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_the_Lines.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Links</name>
        <label>Get Content Document Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Content_Version_The_Email_Ready_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_the_Lines.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Content_Version_The_Email_Ready_ID</name>
        <label>Get the Content Version (The Email-Ready ID)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Version_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_the_Files_LPOs.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LPO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Line_Items</name>
        <label>Get the Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_the_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoadingAdvice_DKL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loading_Advice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Internal_PDF_to_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_EmailAttachments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_InternalPDF_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
