force-app/main/default/flows/LA_Submit_For_Approval_Headless.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_the_Apex_Generate_PDF</name>
        <label>Call the Apex (Generate PDF)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoadingAdvicePDFGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Attachments_for_Joy</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>loadingAdviceIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoadingAdvicePDFGenerator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Email_Joy_for_Approval</name>
        <label>Email Joy for Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Success_Result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Approver_User.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>aramy@dkloudconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Loading Advice Review Required: {!Get_Loading_Advice_Header.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Hi Joy,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please review the attached Loading Advice {!Get_Loading_Advice_Header.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Click this link ti view record in Salesforce : {!form_RecordURL}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>col_FinalAttachmentsToJoy</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Level_1_Bell_Alert</name>
        <label>Send Level 1 Bell Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_Joy_for_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>colRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Needed: {!Get_Loading_Advice_Header.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Loading Advice {!Get_Loading_Advice_Header.Name} is awaiting your approval.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Approver_to_Recipient_List</name>
        <label>Add Approver to Recipient List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Approver_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Level_1_Bell_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LA_PDF_to_Envelope</name>
        <label>Add LA PDF to Envelope</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_FinalAttachmentsToJoy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Call_the_Apex_Generate_PDF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approver_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approver_to_Backup</name>
        <label>Set Approver to Backup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLevel1ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Level_1_Routing_Record.BackupApprover_DKL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approver_to_Primary</name>
        <label>Set Approver to Primary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLevel1ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Level_1_Routing_Record.Approver_DKL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Result</name>
        <label>Set Error Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>resultStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot submit a Loading Advice with no lines</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success_Result</name>
        <label>Set Success Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>resultStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted for approval (Pending 1st Approver). Internal PDF generated; approver notified by bell alert and email.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Ensure_Loading_Lines_are_present</name>
        <label>Ensure Loading Lines are present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lines</defaultConnectorLabel>
        <rules>
            <name>Has_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Loading_Advice_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Level_1_Routing_Record</targetReference>
            </connector>
            <label>Has Lines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Line</name>
        <label>Has Line?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Approver Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLevel1ApproverId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>Yes, Has Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Level_1_Primary_Available</name>
        <label>Is Level 1 Primary Available?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Approver_to_Backup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Backup</defaultConnectorLabel>
        <rules>
            <name>Primary_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Level_1_Routing_Record.Available_DKL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approver_to_Primary</targetReference>
            </connector>
            <label>Primary Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>form_RecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_600}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_600})) &amp; &quot;lightning/r/Loading_Advice__c/&quot; &amp; {!recordId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>LA Submit Headless {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LA Submit For Approval Headless</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approver_User</name>
        <label>Get Approver User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLevel1ApproverId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Level_1_Routing_Record</name>
        <label>Get Level 1 Routing Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Level_1_Primary_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApprovalStage_DKL__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Approvver_Availability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loading_Advice_Header</name>
        <label>Get Loading Advice Header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Loading_Advice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loading_Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Approver_to_Recipient_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loading_Advice_Approvals</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Loading_Advice_Lines</name>
        <label>Get the Loading Advice Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ensure_Loading_Lines_are_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoadingAdvice_DKL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loading_Advice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_the_Apex_Generate_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status_DKL__c</field>
            <value>
                <stringValue>Pending 1st Approver</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_DKL__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmittedOn_DKL__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submittedby_DKL__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Loading_Advice__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loading_Advice_Header</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Attachments_for_Joy</name>
        <label>Get Attachments for Joy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_LA_PDF_to_Envelope</targetReference>
        </connector>
        <flowName>LA_Build_Email_Attachments</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InternalPDF_ID</name>
            <value>
                <elementReference>Call_the_Apex_Generate_PDF</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>col_FinalAttachmentsToJoy</assignToReference>
            <name>col_EmailAttachments</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>col_FinalAttachmentsToJoy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resultStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFinanceApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLevel1ApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLevel2ApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
